.BOSS {
    background-color: rgb(151, 192, 233);
    border: 2px groove red;
    width: 400px;
    height: 420px;
    margin-left: 10px;
    display: flex;
  
  }
  
  .con {
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
    margin-right: 10px;
  
  }
  
  .AA {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  
  
  }
  
  .A01 {
    border: 1px groove rgb(94, 19, 19);
    background-color: rgb(216, 241, 56);
    color: rgb(2, 2, 160);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 8px;
    font-size: larger;
    margin: 2px;
    margin-left: -35px;
    margin-top: -5px;
  }
  
  .A02 {
    border: 2px groove rgb(9, 9, 9);
    width: 40px;
    height: 39px;
    color: rgb(252, 252, 252);
    background-color: rgb(103, 148, 20);
    font-size: larger;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: px;
    margin: 2px;
    padding: 8px;
    margin-left: -26px;
    margin-top: -5px;
  }
  
  .A03 {
    border: 1px groove rgb(19, 3, 3);
    color: rgb(243, 238, 238);
    background-color: rgb(248, 72, 72);
    width: 40px;
    height: 40px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 8px;
    margin: 2px;
    margin-left: -35px;
    margin-top: -5px;
  }
  
  .A04 {
    border: 2px groove rgb(8, 5, 5);
    width: 40px;
    height: 36px;
    color: rgb(248, 239, 239);
    background-color: rgb(243, 73, 73);
    font-size: larger;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: px;
    margin: 2px;
    padding: 8px;
    margin-left: -26px;
    margin-top: -5px;
  }
  
  
  .A06{
    width: 45px;
    height:420px;
    border:2px groove red;
    margin:10px;
    margin-top:1px;
  }
  .A05{
    width: 50px;
    height: 20px;
    border: 1px groove rgb(166, 166, 6);
    background-color: rgb(154, 208, 190);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-left:-26px;
    margin-top:9px;
  }
  .A055{
    width: 50px;
    height: 20px;
    border: 1px groove rgb(2, 2, 2);
    background-color: rgb(239, 102, 52);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-left:-26px;
    margin-top:9px;
  }
  body{
    border:5px groove red;
    display: flex;
    padding: 10px; 
  }
  
  .A07{
    border: 2px dotted red;
    margin-left: 10px;
    display: flex;
    gap: 10px; 
  }
  .A08{
    color: #190000;
    font-size:15px;
  }
  a{
    color: red;
   text-decoration:none;
  }
  
  
  